@import url("https://fonts.googleapis.com/css?family=Baloo+Chettan+2&display=swap");
html {
  font-size: 62.5%; }

body {
  color: #111;
  background-color: #fafcfd;
  font-family: "Baloo Chettan 2", cursive;
  text-align: center;
  font-size: 2.2rem; }

.container {
  max-width: 1000px;
  margin: 0 auto; }

.search-panel {
  background-color: #cccfcf;
  padding: 20px;
  margin: 15px; }
  @media screen and (min-width: 768px) {
    .search-panel {
      display: flex;
      flex-direction: row; } }

.search-box {
  padding: 0 5px; }

.search-location {
  height: 30px;
  width: 80%;
  background-color: white;
  font-family: "Baloo Chettan 2", cursive;
  font-size: 1.8rem;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  border: 2px solid #88a;
  cursor: pointer; }
  @media screen and (min-width: 480px) {
    .search-location {
      width: auto; } }

.button {
  font-family: "Baloo Chettan 2", cursive;
  font-size: 1.8rem;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 4px;
  border: 2px solid #88a;
  box-shadow: 0 10px 3px 15px rgba(100, 120, 155, 0.1) inset;
  cursor: pointer; }
  .button:active {
    box-shadow: 0 10px 5px 15px rgba(100, 120, 155, 0.2) inset; }
